<style>
    .strike{
        text-decoration: line-through red ;
    }
</style>
<div class="bg-gray-800 text-white px-5 py-5 w-80 mx-5 my-5 rounded-xl">
    <h1 class="text-2xl font-bold pb-2" [ngClass]="{'strike':todo.completed}">{{todo.title}}</h1>
    <p class="italic" [ngClass]="{'strike':todo.completed}">{{todo.description}}</p>
    <button class="bg-blue-500 px-3 py-1 rounded-lg font-bold mt-5 mr-3 hover:bg-blue-400" (click)="checkDone(todo)">Done</button> 
    <button class="bg-red-600 px-3 py-1 rounded-lg font-bold my-2 mr-2 hover:bg-red-500" (click)="onDelete(todo)">Delete</button>
</div>