<app-addtodo (todoAdd)="addTodo($event)"></app-addtodo>
<div *ngIf="this.todos.length == 0; else elseBlock" class="px-50">
    <h1 class="text-xl font-bold">Your todo is empty</h1>
    <p class="italic">please enter todo and try again</p>
</div>
<ng-template #elseBlock>
    <div class="flex flex-wrap mx-10">
        <div *ngFor="let todo of todos">
            <app-todo [todo]="todo" (todoDelete)="deleteTodo($event)" (todoDone)="doneTodo($event)"></app-todo>
        </div>
    </div>
</ng-template>